<div class="welcome-box">
  <img src="/ember-welcome-page/images/construction.png" alt="Under construction">
  <div class="welcome">
    <h2 id="title">Welcome to Ember</h2>
    <p>Don't mind the dust, but make yourself at home!</p>
    <p>Seriously though, there isn't much to look at here. Below are a few resources to help you get started:</p>
    <ul>
      <li><a href="http://guides.emberjs.com">Ember Guides</a> - learn more about Ember</li>
      <li><a href="http://emberjs.com/api">Ember API</a> - in-depth information about core apis</li>
      <li><a href="http://www.emberobserver.com">Ember Observer</a> - useful community add-ons</li>
    </ul>
    <p>And if you run into problems, please check <a href="http://stackoverflow.com/questions/tagged/ember.js">Stack Overflow</a> or <a href="http://discuss.emberjs.com/">our forums</a> for answers.  If you don't find what you are looking for, post a question, people love to help new folks get started!</p>
  </div>
</div>
<p class="postscript">To remove this welcome message, remove the <code>welcome.js</code> line in <code>app/templates/application.hbs</code></p>
